<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/templates :: layout(~{::title},~{::body/content()})}">
    <head>
        <meta charset="UTF-8">
        <title>管理画面</title>
    </head>
    <body>
    <link th:href="@{../css/manage.css}" rel="stylesheet">
    <link th:href="@{../css/base.css}" rel="stylesheet">
    <div class="main">
        <form th:action="@{/timecard-input/init}" method=get>
            <div class="searchpanel">
                <div class="searchpanel-contents">
                    <label>ユーザーID</label>
                    <input type="text" name="userId" />
                </div>
                <div class="searchpanel-contents">
                    <button type="submit">参照</button>
                </div>
            </div>
        </form>
        <th:block th:if="${searchResultList}">
            <table border="1">
                <tr>
                    <th>年月</th>
                    <th>名前</th>
                    <th>ステータス</th>
                </tr>
                <tr th:each="searchResult : ${searchResultList}">
                    <td th:text="${searchResult.yearMonthStr}"></td>
                    <td th:text="${searchResult.userName}"></td>
                    <td th:text="${searchResult.statusName}"></td>
                </tr>
            </table>
        </th:block>
    </div>
    </body>
</html>