<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/templates :: layout(~{::title},~{::body/content()})}">
    <head>
        <meta charset="UTF-8">
        <title>管理画面</title>
    </head>
    <body>
    <link th:href="@{../css/manage.css}" rel="stylesheet">
    <link th:href="@{../css/base.css}" rel="stylesheet">
    <div class="main">
        <form th:action="@{/ManagementScreen/search}" th:object="${searchForm}" method=post>
            <div class="searchpanel">
                <div class="searchpanel-contents">
                    <label>年</label>
                    <select th:field="*{selectYear}">
                        <option value=""></option>
                        <option th:each="year : ${yearsList}" th:value="${year}" th:text="${year}"></option>
                    </select>
                </div>
                <div class="searchpanel-contents">
                    <label>月</label>
                    <select th:field="*{selectMonth}">
                        <option value=""></option>
                        <option th:each="month : ${T(java.time.Month).values()}" th:value="${month}" th:text="${month.value}"></option>
                    </select>
                </div>
                <div class="searchpanel-contents">
                    <label>承認ステータス</label>
                    <select th:field="*{approvalStatus}">
                        <option value=""></option>
                        <option th:each="status : ${T(com.tcm.enums.ApprovalStatus).values()}"
                                th:value="${status.key}" th:text="${status.name}"></option>
                    </select>
                </div>
                <div class="searchpanel-contents">
                    <label>名前</label>
                    <input type="text" th:field="*{name}" />
                </div>
                <div class="searchpanel-contents">
                    <button type="submit">検索</button>
                </div>
            </div>
        </form>
        <th:block th:if="${searchResultList}">
            <table border="1">
                <tr>
                    <th>年月</th>
                    <th>名前</th>
                    <th>ステータス</th>
                </tr>
                <tr th:each="searchResult : ${searchResultList}">
                    <td th:text="${searchResult.yearMonthStr}"></td>
                    <td th:text="${searchResult.userName}"></td>
                    <td th:text="${searchResult.statusName}"></td>
                </tr>
            </table>
        </th:block>
    </div>
    </body>
</html>