<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tcm.repository.SampleXmlVersionMapper">
    <select id="select" resultType="com.tcm.dto.sample.SampleSqlDto">
        select
            authority_id
            , authority_name
        from
            authority
        where
            authority_id = #{id}
    </select>
</mapper>