/* --------------------------------------------- */
/* ▼モバイルファースト (全環境に共通のデザイン) */
/* --------------------------------------------- */
.box {
  max-width: 100%;
  margin: 0 auto;
  background-color: #FFF;
    width: 100%;
  min-height: 100vh;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}



/* -------------------------------------------- */
/* ▼タブレット用デザインとして付け足すデザイン */
/* -------------------------------------------- */
@media (min-width: 768px) {

}
/* ------------------------------------ */
/* ▼PC用デザインとして付け足すデザイン */
/* ------------------------------------ */
@media (min-width: 1024px) {

.act-logo {
	margin-top: 30px;
}

.mt20 {
	margin-top: 20px;
}

.font-box {
	width: 250px;
}

.button-area {
  width: 100%;
  text-align: center;
}

.button-area a {
  display: inline-block;
  width: 100%;
}

#login{
	margin-top: 50px;
}

#login input[type=text]{
  width: 100%;
  height: 40px;
 /* background: transparent; */
 background-color: 00a1e9;
  border: 2px solid rgba(255,255,255,1);
  border-radius: 2px;
  color: #FFF;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
}

#login input[type=password]{
  width: 100%;
  height: 40px;
  /* background: transparent; */
  border: 2px solid rgba(255,255,255,1);
  background-color: 00a1e9;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
  margin-top: 10px;
}

.btn-flat-border {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #000;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-border:hover {
  background: #fff352;
  color: #000;
}


}