<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <title>勤怠入力画面</title>
    <meta charset="utf-8" />
    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <link th:href="@{../css/timecard-style.css}" rel="stylesheet">
	<link th:href="@{../css/modal.css}" rel="stylesheet">
  </head>
  <body>

	<div id="modal-overlay"></div>
    <h1>勤怠入力画面</h1>
    <form th:action="@{/timecard-input}" method="post">
      <div th:object="${timecardInputData}">
      <p>インピタス五郎</p>
        <table>
          <!-- 中身 -->
          <th:block th:each="item, stat : *{timecardInputDtoList}">
	          <tr>
	            <td th:text="|${item.hizuke}${item.youbi}|"></td>
	            <td>
	              <input type="text" size="5" style="cursor:pointer;" onclick="javascript:clickInputGozen(this.id);"
	                th:field="*{timecardInputDtoList[__${stat.index}__].gozen}" th:data-nen="${item.nen}"
	                th:data-day="${item.hizuke}" th:data-youbi="${item.youbi}" th:data-workdayid="${item.workDayId}" th:data-ymd="${item.ymd}" readonly>
	              <span>&nbsp;～</span>
	            </td>
	            <td>
	              <input type="text" size="5" style="cursor:pointer;" onclick="javascript:clickInputGogo(this.id);"
	                th:field="*{timecardInputDtoList[__${stat.index}__].gogo}" readonly>
	            </td>
	          </tr>
          </th:block>
        </table>
      </div>
    </form>
    <div sec:authorize="hasAnyRole('ROLE_APP','ROLE_ADM')">
        <form th:action="@{/timecard-input/approval}" method="post" th:object="${approvalForm}">
            <button type="button" onclick="history.back()">戻る</button>
            <input type="submit" value="承認">
            <th:hidden th:value="${timecardInputData.userId}">
            <script th:src="@{../js/timecard-input.js}"></script>
        </form>
    </div>
    	    <div id="modal" class="modal">
			  <div class="modal-content">
				  <form th:action="@{/timecard-input/modal}" method="post">
					    <div class="modal-body">
					      <h1>モーダル画面</h1>
					      <div id="modalDisplayYear"></div>
					      <div id="modalDisplayDate"></div>
					      <p>時分入力サンプル</p>
					        <input type="time" id="modal_from" class="form-control margin-bottom-20"
					          th:field="${timecardInputData.modalDateFrom}"> ～
					        <input type="time" id="modal_to" class="form-control margin-bottom-20"
					          th:field="${timecardInputData.modalDateTo}">
					        <input type="hidden" id="modal_date" th:field="${timecardInputData.modalDate}">
					        <input type="hidden" id="modal_workDayId" th:field="${timecardInputData.modalWorkDayId}">
					      <input type="submit" value="OK">
					      <input type="button" id="closeBtn" value="close" onclick="javascript:closeModai();">
					    </div>
					</form>
				</div>
			</div>
    <script th:src="@{../js/timecard-input.js}"></script>
  </body>
</html>